<div class="container">
  <h3>Listado de Posts</h3>

  <div class="text-centered">
    <input
      placeholder="buscar posts por nombre"
      type="text"
      id="filterText"
      style="width: 80%"
      [formControl]="filterText"
      (keyup.enter)="filterPosts()"
    />
  </div>

  <div class="text-centered">
    <button id="buscar" (click)="filterPosts()">Buscar</button>
    <button id="restart" (click)="loadPosts()">Reestablecer</button>
  </div>

  <table class="tg" *ngIf="(posts | async).length > 0">
    <thead>
      <tr>
        <th class="tg-1wig t-data">Nombre</th>
        <th class="tg-1wig t-data">Descripcion</th>
        <th class="tg-1wig">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | async; trackBy: trackByItems">
        <td class="tg-0lax">{{ post.nombre }}</td>
        <td class="tg-0lax">{{ post.descripcion }}</td>
        <td class="tg-0lax">
          <button class="btnDelete" (click)="deletePost(post.id!)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="mensaje" *ngIf="(posts | async).length == 0">No hay elementos que mostrar.</p>

  <div style="padding-top: 0.5em">
    <form [formGroup]="newPostForm" (ngSubmit)="createPost()">
      <div class="row">
        <div class="col-5">
          <label>Nombre </label>
          <input
            type="text"
            formControlName="nombre"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
          />
          <div *ngIf="submitted && f.nombre.errors">
            <div
              *ngIf="f.nombre.errors.required"
              style="font-size: 9px; color: rgb(187, 18, 18)"
            >
              El nombre es obligatorio.
            </div>
          </div>
        </div>
        <div class="col-5">
          <label>Descripcion </label>
          <input
            type="text"
            formControlName="descripcion"
            [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
          />
          <div *ngIf="submitted && f.descripcion.errors">
            <div
              *ngIf="f.descripcion.errors.required"
              style="font-size: 9px; color: rgb(187, 18, 18)"
            >
              Por favor, agregue una descripcion.
            </div>
          </div>
        </div>
        <div class="col-1">
          <button type="submit" class="btnCrear">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
